.products-slider {
  position: relative;

  .arrow-icon {
    fill: $main;
  }

  .arrow_next {
    right: -40px;
  }

  .arrow_prev {
    left: -40px;
  }
}


.products-slider__list {
  margin-left: -20px;
  margin-right: -20px;
}

.products-slider__item {
  margin: 20px;
}