.title {
  font-weight: bold;
  font-size: 25px;

  &_size {
    font-size: 30px;
  }

  @include big-phones {
    text-align: center;
  }
}

.title-filter {
  font-weight: 600;
  font-size: 16px;
  padding-left: 26px;
  display: inline-block;
}