.banner-section__inner {
  display: flex;
  justify-content: space-between;
}

.banner-section__slider-inner {
  position: relative;
  max-width: 870px;
}

.banner-section__slider {
  flex: 1;
  overflow: hidden;
}