.related-products {
  padding-top: 72px;
}

.related-products__title {
  margin-bottom: 25px;
}

.related-products__button {
  text-align: center;
}

.related-products__button {
  display: none;

  @include w1320 {
    display: block;
    margin-bottom: 80px;
  }
}