section.banner-section
  .container
    .banner-section__inner
      .banner-section__slider
        ul.main-slider
          li.main-slider__item
            a(href="#").main-slider__item__link
              +image('content/main-slider/main-slider-1.jpg', 'main-slider__img')
          li.main-slider__item
            a(href="#").main-slider__item__link
              +image('content/main-slider/main-slider-1.jpg', 'main-slider__img')
          li.main-slider__item
            a(href="#").main-slider__item__link
              +image('content/main-slider/main-slider-1.jpg', 'main-slider__img')
          li.main-slider__item
            a(href="#").main-slider__item__link
              +image('content/main-slider/main-slider-1.jpg', 'main-slider__img')
          li.main-slider__item
            a(href="#").main-slider__item__link
              +image('content/main-slider/main-slider-1.jpg', 'main-slider__img')
          li.main-slider__item
            a(href="#").main-slider__item__link
              +image('content/main-slider/main-slider-1.jpg', 'main-slider__img')
      .banner-section__item
        a(href="#").product-promo
          .product-promo__header
            .product-promo__header-row
              span.product-promo__sticker Акция
              span.product-promo__price-new 190 000 ₽
            .product-promo__header-row
              span.product-promo__price-old 225 000 ₽
          .product-promo__body
            .product-promo__image
              +image('content/products/boat-motor.png', 'product-promo__img')
            h4.product-promo__title Лодочный мотор Suzuki DF9.9BRS
          .product-promo__footer
            .product-promo__deadline
              .product-promo__deadline-info Акция действует до
              .product-promo__deadline-date 31.08.2020