div.search
  .container
    .search__inner
      .search-tabs
        ul.search-tabs__tabs
          li.search-tabs__tabs-item
            a(href="#tab-1").search-tabs__tabs-link Поиск по номеру
          li.search-tabs__tabs-item.search-tabs__tabs-item_active
            a(href="#tab-2").search-tabs__tabs-link Поиск по марке
          li.search-tabs__tabs-item
            a(href="#tab-3").search-tabs__tabs-link Поиск по названию товара
        ul.search-tabs__content
          li(id="tab-1").search-tabs__content-item
            form.search-form
              .search-form__input
                input(type="search", name="search-form-brand" placeholder="Введите номер").search-input
              .search-form__btn
                button(type="submit").button-basic Искать
          li(id="tab-2").search-tabs__content-item.search-tabs__content-item_active
            form.search-form
              .search-form__input
                input(type="search", name="search-form-brand" placeholder="Введите марку").search-input
              .search-form__btn
                button(type="submit").button-basic Искать
          li(id="tab-3").search-tabs__content-item
            form.search-form
              .search-form__input
                input(type="search", name="search-form-brand" placeholder="Введите название товара").search-input
              .search-form__btn
                button(type="submit").button-basic Искать
