section.categories-section
  .container
    .categories-section__inner
      ul.categories
        li.categories__item
          a(href="#").categories__item-link
            .categories__info
              h4.categories__title Квадроциклы
              .categories__text Подробее
            .categories__image 
              +image('content/categories/quad-bike.png', 'categories__img')
        li.categories__item
          a(href="#").categories__item-link
            .categories__info
              h4.categories__title Гидроциклы
              .categories__text Подробее
            .categories__image 
              +image('content/categories/jet-ski.png', 'categories__img')
        li.categories__item
          a(href="#").categories__item-link
            .categories__info
              h4.categories__title Катера
              .categories__text Подробее
            .categories__image 
              +image('content/categories/boat.png', 'categories__img')
        li.categories__item
          a(href="#").categories__item-link
            .categories__info
              h4.categories__title Снегоходы
              .categories__text Подробее
            .categories__image 
              +image('content/categories/snowmobile.png', 'categories__img')
        li.categories__item
          a(href="#").categories__item-link
            .categories__info
              h4.categories__title Вездеходы
              .categories__text Подробее
            .categories__image 
              +image('content/categories/ATV.png', 'categories__img')
        li.categories__item
          a(href="#").categories__item-link
            .categories__info
              h4.categories__title Двигатели
              .categories__text Подробее
            .categories__image 
              +image('content/categories/engine.png', 'categories__img')
