div.search
  .container.search__container
    .search__inner
      .tabs.search-tabs
        ul.tabs__tablist.search-tabs__tabs
          li.tabs__tablist-item.search-tabs__tabs-item
            a(href="#search-number").tabs__tablist-link.search-tabs__tabs-link Поиск по номеру
          li.tabs__tablist-item.search-tabs__tabs-item.tabs__tablist-item_active
            a(href="#search-brand").tabs__tablist-link.search-tabs__tabs-link Поиск по марке
          li.tabs__tablist-item.search-tabs__tabs-item
            a(href="#search-product").tabs__tablist-link.search-tabs__tabs-link Поиск по названию товара
        ul.tabs__content.search-tabs__content
          li(id="search-number").tabs__content-item.search-tabs__content-item
            form.search-form
              .search-form__input
                input(type="search", name="search-form-brand" placeholder="Введите номер").search-input
              .search-form__btn
                button(type="submit").button-basic.button-basic_mobile Искать
          li(id="search-brand").tabs__content-item.search-tabs__content-item.tabs__content-item_active
            form.search-form
              .search-form__input
                input(type="search", name="search-form-brand" placeholder="Введите марку").search-input
              .search-form__btn
                button(type="submit").button-basic.button-basic_mobile Искать
          li(id="search-product").tabs__content-item.search-tabs__content-item
            form.search-form
              .search-form__input
                input(type="search", name="search-form-brand" placeholder="Введите название товара").search-input
              .search-form__btn
                button(type="submit").button-basic.button-basic_mobile Искать
