.catalog-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &_list-active {
    .product-item {
      min-width: 100%;
    }

    .catalog-product__item {
      width: 100%;
      margin-right: 0;
    }
  }
}

.catalog-product__item {
  margin-right: 0.5%;
  margin-bottom: 30px;

  &:last-child {
    margin-right: 0;
  }
}