.catalog-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-product__item {
  margin-right: 0.5%;
  margin-bottom: 30px;

  &:last-child {
    margin-right: 0;
  }
}