.filter-tabs {
  .tabs__tablist-item_active {
    .filter-tabs__tabs-link {
      color: $main;
      font-weight: bold;
      border-bottom: 2px solid $blue;
    }
  }
}
.filter-tabs__tabs-item {
  margin-right: 42px;

  &:last-child {
    margin-right: 0;
  }
}

.filter-tabs__tabs-link {
  color: $light-gray;
  font-size: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  padding-bottom: 12px;
  border-bottom: 2px solid transparent;
}
