.sorting-buttons {
  display: flex;
}

.sorting-buttons__item {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.sorting-buttons__btn {
  background-color: $gray !important;
  padding: 4px 22px;
  font-size: 14px;
  opacity: 0.7;
  border-radius: 3px;
  transition: $speed;

  &:hover {
    opacity: 1;
  }
}