.sorting-buttons {
  display: flex;
  overflow: auto;

  @include phones {
    min-width: 106%;
  }

}

.sorting-buttons__item {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.sorting-buttons__btn {
  background-color: $gray !important;
  padding: 4px 22px;
  font-size: 14px;
  opacity: 0.7;
  border-radius: 3px;
  transition: $speed;
  white-space: nowrap;

  &:hover {
    opacity: 1;
  }
}