.subscription-form {
  display: flex;

  .search-input {
    background-color: $secondary;
    padding: 8px 12px;
    border-radius: 0;

    &::placeholder {
      color: $light-gray;
      font-size: 14px;
    }

  }

  .button-basic {
    border-radius: 0;
    font-weight: 600;
    font-size: 11px;
    padding: 10px 16px;
    height: 100%;
  }
}