@import "normalize.css";
@import "./mixins.pcss";
@import "slick-carousel/slick/slick.css";
@import "ion-rangeslider/css/ion.rangeSlider.css";
@import "jquery-form-styler/dist/jquery.formstyler.css";
@import "jquery-form-styler/dist/jquery.formstyler.theme.css";
@import "rateyo/lib/cjs/rateyo.css";
@import "./layout/fonts.pcss"; 
@import "./layout/base.pcss";
@import "animate.css";
@import "./blocks/**/*.pcss";