section.catalog-section
  .container
    .catalog-section__title
      h2.title.title_size Гидроциклы
    .catalog-section__sorting
      .catalog-section__sorting-item
        ul.sorting-buttons
          li.sorting-buttons__item
            button(type="button").sorting-buttons__btn Полноприводные
          li.sorting-buttons__item
            button(type="button").sorting-buttons__btn от 5000
          li.sorting-buttons__item
            button(type="button").sorting-buttons__btn BRP
          li.sorting-buttons__item
            button(type="button").sorting-buttons__btn еще
      .catalog-section__sorting-item
        .catalog-section__sorting-item-sorting-order
          select(name="").sorting-order
            option(value="popular") По популярности
            option(value="low") От низкой к высокой цене
            option(value="high") От высокой к низкой цене
        .mode-view
          .mode-view__item
            button(type="button").mode-view__btn.mode-view__btn_active
              +icon('grid-filter', 'mode-view__icon mode-view__icon-grid')
          .mode-view__item
            button(type="button").mode-view__btn
              +icon('list-filter', 'mode-view__icon mode-view__icon-list')
    .catalog-section__inner
      aside.catalog-section__inner-aside
        .catalog-section__inner-aside-button
          button(type="button").button-rectangle.button-rectangle_filter Фильтр
        .tabs.filter-tabs
          ul.tabs__tablist.filter-tabs__tabs
            li.tabs__tablist-item.filter-tabs__tabs-item.tabs__tablist-item_active
              a(href="#filter-parameters" title="Параметры").tabs__tablist-link.filter-tabs__tabs-link Параметры
            li.tabs__tablist-item.filter-tabs__tabs-item
              a(href="#filter-brand" title="По марке").tabs__tablist-link.filter-tabs__tabs-link По марке
          ul.tabs__content.filter-tabs__content
            li(id="filter-parameters").tabs__content-item.filter-tabs__content-item.tabs__content-item_active
              form.filter-form
                ul.filter-form__list
                  li.filter-form__item
                    .filter-dropdown
                      .filter-dropdown__title
                        h6.title-filter Наличие
                      .filter-dropdown__content.filter-dropdown__content_checkbox
                        .filter-dropdown__content-item
                          label.filter-dropdown__label
                            input(type="checkbox", name="in-stock").filter-dropdown__checkbox
                            .filter-dropdown__label-title В наличие
                        .filter-dropdown__content-item
                          label.filter-dropdown__label
                            input(type="checkbox", name="on-order").filter-dropdown__checkbox
                            .filter-dropdown__label-title Под заказ
                  li.filter-form__item
                    .filter-dropdown
                      .filter-dropdown__title
                        h6.title-filter Новинки
                      .filter-dropdown__content.filter-dropdown__content_radio
                        .filter-dropdown__content-item
                          label.filter-dropdown__label
                            input(type="radio", name="filter-new" checked).filter-dropdown__radio
                            .filter-dropdown__label-title Все
                        .filter-dropdown__content-item
                          label.filter-dropdown__label
                            input(type="radio", name="filter-new").filter-dropdown__radio
                            .filter-dropdown__label-title Новинки
                        .filter-dropdown__content-item
                          label.filter-dropdown__label
                            input(type="radio", name="filter-new").filter-dropdown__radio
                            .filter-dropdown__label-title Акции
                  li.filter-form__item
                    .filter-dropdown
                      .filter-dropdown__title
                        h6.title-filter Цена
                      .filter-dropdown__content
                        .range-slider
                          input(type="text" name="price_range").range-slider__slider
                          .range-slider__range
                            .range-slider__range__item 
                              .range-slider__range__item-text от
                              input(type="text").range-slider__range__item-number.range-slider__range__item-number_from
                            .range-slider__range__item 
                              .range-slider__range__item-text до
                              input(type="text").range-slider__range__item-number.range-slider__range__item-number_to
                  li.filter-form__item
                    .filter-form__item-list
                      .filter-select 
                        .filter-select__title
                          h6.title-filter Мощность, л.с.
                        .filter-select__select-wrap
                          select.filter-select__select
                            option 90
                            option 130
                            option 154
                            option 230
                            option 300
                    .filter-form__item-list
                      .filter-select 
                        .filter-select__title
                          h6.title-filter Мощность двигателя, л.с.
                        .filter-select__select-wrap
                          select.filter-select__select
                            option 55
                            option 80
                            option 90
                            option 100
                            option 110
                    .filter-form__item-list
                      .filter-select 
                        .filter-select__title
                          h6.title-filter Макс. скорость
                        .filter-select__select-wrap
                          select.filter-select__select
                            option 205
                            option 230
                            option 250
                            option 280
                            option 300
                  li.filter-form__item
                    .filter-dropdown
                      .filter-dropdown__title
                        h6.title-filter Бренд
                      .filter-dropdown__content.filter-dropdown__content_checkbox
                        .filter-dropdown__content-item
                          label.filter-dropdown__label
                            input(type="checkbox", name="brp" checked).filter-dropdown__checkbox
                            .filter-dropdown__label-title BRP
                        .filter-dropdown__content-item
                          label.filter-dropdown__label
                            input(type="checkbox", name="spark-2" checked).filter-dropdown__checkbox
                            .filter-dropdown__label-title Spark 2
                        .filter-dropdown__content-item
                          label.filter-dropdown__label
                            input(type="checkbox", name="spark-3").filter-dropdown__checkbox
                            .filter-dropdown__label-title Spark 3
                        .filter-dropdown__btn
                          button(type="button").basic-link.basic-link_size Показать еще
                  li.filter-form__item
                    .filter-dropdown
                      .filter-dropdown__title
                        h6.title-filter Модель
                      .filter-dropdown__content.filter-dropdown__content_checkbox
                        .filter-dropdown__content-item.filter-dropdown__content-item_search
                          input(type="search" placeholder="Введите модель").filter-dropdown__input-search
                        .filter-dropdown__content-item
                          label.filter-dropdown__label
                            input(type="checkbox", name="sea-doo-spark-2" checked).filter-dropdown__checkbox
                            .filter-dropdown__label-title Sea-doo Spark 2
                        .filter-dropdown__content-item
                          label.filter-dropdown__label
                            input(type="checkbox", name="sea-doo-spark-90" checked).filter-dropdown__checkbox
                            .filter-dropdown__label-title SeaDoo Spark 90 
                        .filter-dropdown__content-item
                          label.filter-dropdown__label
                            input(type="checkbox", name="sea-doo-spark-155").filter-dropdown__checkbox
                            .filter-dropdown__label-title SeaDoo GTI 155
                        .filter-dropdown__content-item
                          label.filter-dropdown__label
                            input(type="checkbox", name="sea-doo-spark-230").filter-dropdown__checkbox
                            .filter-dropdown__label-title SeaDoo GTR 230
                        .filter-dropdown__btn
                          button(type="button").basic-link.basic-link_size Показать еще
                  li.filter-form__item
                    .filter-dropdown
                      .filter-dropdown__title
                        h6.title-filter Акции
                      .filter-dropdown__content.filter-dropdown__content_checkbox.filter-dropdown__content__checkbox-rect
                        .filter-dropdown__content-item
                          label.filter-dropdown__label
                            input(type="checkbox", name="sale" checked).filter-dropdown__checkbox
                            .filter-dropdown__label-title SALE
                        .filter-dropdown__content-item
                          label.filter-dropdown__label
                            input(type="checkbox", name="new").filter-dropdown__checkbox
                            .filter-dropdown__label-title NEW
                        .filter-dropdown__content-item
                          label.filter-dropdown__label
                            input(type="checkbox", name="hit").filter-dropdown__checkbox
                            .filter-dropdown__label-title HIT
                        .filter-dropdown__content-item
                          label.filter-dropdown__label
                            input(type="checkbox", name="dealer" checked).filter-dropdown__checkbox
                            .filter-dropdown__label-title ДИЛЕР
                  li.filter-form__item
                    .filter-dropdown
                      .filter-dropdown__title
                        h6.title-filter Страны
                      .filter-dropdown__content.filter-dropdown__content_checkbox
                        .filter-dropdown__content-item
                          label.filter-dropdown__label
                            input(type="checkbox", name="russia" checked).filter-dropdown__checkbox
                            .filter-dropdown__label-title Россия
                        .filter-dropdown__content-item
                          label.filter-dropdown__label
                            input(type="checkbox", name="germany" checked).filter-dropdown__checkbox
                            .filter-dropdown__label-title Германия
                        .filter-dropdown__content-item
                          label.filter-dropdown__label
                            input(type="checkbox", name="china").filter-dropdown__checkbox
                            .filter-dropdown__label-title Китай
                        .filter-dropdown__content-item
                          label.filter-dropdown__label
                            input(type="checkbox", name="usa").filter-dropdown__checkbox
                            .filter-dropdown__label-title CША
                        .filter-dropdown__btn
                          button(type="button").basic-link.basic-link_size Показать еще
                  li.filter-form__item
                    .filter-form__item__button
                      button(type="submit").button-rectangle.button-rectangle_filter ВЫБРАТЬ
                    .filter-dropdown.filter-dropdown_extra
                      .filter-dropdown__title
                        h6.title-filter Дополнительные параметры
                      .filter-dropdown__content
                        | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum minima aspernatur deserunt neque ipsa illum voluptate aperiam tempora nisi asperiores dolorem quo quod, ut libero rerum praesentium vel perferendis iure?
                    .filter-form__item__button-extra-link
                      button(type="reset").basic-link Сбросить фильтр


            li(id="filter-brand").tabs__content-item.filter-tabs__content-item
              | По марке
      .catalog-section__inner-content
        ul.catalog-product
          - var jetSkisList = [
          -  { title: "Гидроцикл BRP SeaDoo GTI 130hp SE Black\Mango", price: '1 049 500', img: 'jet-skis/jet-skis-1.png'},
          -  { title: "Гидроцикл BRP SeaDoo GTI 155hp SE Long Blue Metallic", price: '1 100 475', img: 'jet-skis/jet-skis-2.png', sale: true},
          -  { title: "Гидроцикл BRP SeaDoo GTR 230hp X California green", price: '1 323 700', img: 'jet-skis/jet-skis-3.png'},
          -  { title: "Гидроцикл BRP SeaDoo GTR 230hp STD Black / Gulfstream", price: '1 323 700', img: 'jet-skis/jet-skis-4.png', sale: true, notAvailable: true},
          -  { title: "Гидроцикл BRP SeaDoo GTX 300hp LTD Liquid Metal", price: '1 543 000', img: 'jet-skis/jet-skis-5.png'},
          -  { title: "Гидроцикл BRP SeaDoo Spark 60hp 2 up", price: '732 345', img: 'jet-skis/jet-skis-6.png'},
          -  { title: "Гидроцикл BRP SeaDoo Spark GTS 90hp Rental", price: '857 666', img: 'jet-skis/jet-skis-7.png'},
          -  { title: "Гидроцикл BRP SeaDoo WAKE 230hp PRO Teal blue", price: '1 229 711', img: 'jet-skis/jet-skis-8.png', sale: true},
          -  { title: "Гидроцикл Spark 2-UP 900 Ho Ace Chili Pepper", price: '587 440', img: 'jet-skis/jet-skis-9.png'},
          -  { title: "Гидроцикл Spark 2-UP 900 Ho Ace Pineapple ", price: '587 440', img: 'jet-skis/jet-skis-10.png'},
          -  { title: "Гидроцикл BRP Sea-doo Spark 2-UP 900 Ace Vanilla ", price: '587 440', img: 'jet-skis/jet-skis-11.png', sale: true, notAvailable: true},
          -  { title: "Гидроцикл Spark 3-UP 900 HO Ace IBR Blueberry", price: '587 440', img: 'jet-skis/jet-skis-12.png', notAvailable: true},
          - ]
          each jetSki in jetSkisList
            li.catalog-product__item
              a(href="./card-product.html" class={'product-item_sale': jetSki.sale === true, 'product-item_not-available': jetSki.notAvailable === true}).product-item
                .product-item__button.product-item__button_top
                  button(type="button").button-favorite
                    .button-favorite__icon
                .product-item__image
                  .product-item__hover-text посмотреть товар
                  +image(`content/products/${jetSki.img}`, 'product-item__img')
                h4.product-item__title #{jetSki.title}
                .product-item__price #{jetSki.price} ₽
                .product-item__notify-text нет в наличии
                object(type="owo/uwu").product-item__inner-link
                  button(type="button").basic-link Сообщить о поступлении
                .product-item__button.product-item__button_bottom
                  button(type="button").button-cart
                    +icon('cart', 'button-cart__icon')
        .catalog-section__pagination
          .pagination
            ul.pagination__list
              li.pagination__item.pagination__item_active
                a(href="#").pagination__link 1
              li.pagination__item
                a(href="#").pagination__link 2
              li.pagination__item
                a(href="#").pagination__link 3
              li.pagination__item
                a(href="#").pagination__link 4
              li.pagination__item
                a(href="#").pagination__link 5
              li.pagination__item
                a(href="#").pagination__link ...
              li.pagination__item
                a(href="#").pagination__link 11