include mixins

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Drive Moto | Гидроцикл BRP SeaDoo GTI 155hp SE Long Blue Metallic
    +favicon
  body
    .wrapper
      include blocks/common/header
      +breadcrumbs('Главная', 'Гидроциклы', 'Гидроцикл BRP SeaDoo GTI 155hp SE Long Blue Metallic')
      include blocks/card-product/card-section
      include blocks/card-product/card-tabs
      include blocks/common/footer