include mixins

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Drive Moto | Гидроцикл BRP SeaDoo GTI 155hp SE Long Blue Metallic
    +favicon
  body
    .wrapper
      include blocks/common/header
      include blocks/common/breadcrumbs
      //- include blocks/catalog/catalog-section
      include blocks/common/footer