include mixins

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Drive Moto | Гидроциклы
    +favicon
  body
    .wrapper
      include blocks/common/header
      +breadcrumbs('Главная', 'Гидроциклы')
      include blocks/catalog/catalog-section
      include blocks/common/footer