.characteristic {
  display: table;
  max-width: 436px;
  width: 100%;
  font-size: 20px;
}

.characteristic__item {
  display: table-row;
}

.characteristic__item-name,
.characteristic__item-property {
  display: table-cell;
  border-bottom: 1px solid rgba(#2F3035, 0.1);
  padding-bottom: 6px;
  padding-top: 15px;
}