section.card-tabs
  .container
    .tabs.card-more-tabs
      ul.tabs__tablist.card-more-tabs__tabs
        li.tabs__tablist-item.card-more-tabs__tabs-item
          a(href="#about" title="О товаре").tabs__tablist-link.card-more-tabs__tabs-link О товаре
        li.tabs__tablist-item.card-more-tabs__tabs-item
          a(href="#specs-product" title="Характеристики").tabs__tablist-link.card-more-tabs__tabs-link Характеристики
        li.tabs__tablist-item.card-more-tabs__tabs-item
          a(href="#review" title="Отзывы").tabs__tablist-link.card-more-tabs__tabs-link Отзывы
        li.tabs__tablist-item.card-more-tabs__tabs-item.tabs__tablist-item_active
          a(href="#pickup" title="Самовывоз").tabs__tablist-link.card-more-tabs__tabs-link Самовывоз
        li.tabs__tablist-item.card-more-tabs__tabs-item
          a(href="#delivery" title="Доставка").tabs__tablist-link.card-more-tabs__tabs-link Доставка
        li.tabs__tablist-item.card-more-tabs__tabs-item
          a(href="#service" title="Cервис").tabs__tablist-link.card-more-tabs__tabs-link Cервис
        li.tabs__tablist-item.card-more-tabs__tabs-item
          a(href="#garanty" title="Гарантия").tabs__tablist-link.card-more-tabs__tabs-link Гарантия
      ul.tabs__content.card-more-tabs__content
        li(id="about").tabs__content-item.card-more-tabs__content-item
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt nulla adipisci fuga totam praesentium exercitationem perspiciatis alias hic rerum debitis, nobis, accusantium modi voluptatibus. Ea sequi in ipsam aut eveniet!
        li(id="specs-product").tabs__content-item.card-more-tabs__content-item
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt nulla adipisci fuga totam praesentium exercitationem perspiciatis alias hic rerum debitis, nobis, accusantium modi voluptatibus. Ea sequi in ipsam aut eveniet!
        li(id="review").tabs__content-item.card-more-tabs__content-item
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt nulla adipisci fuga totam praesentium exercitationem perspiciatis alias hic rerum debitis, nobis, accusantium modi voluptatibus. Ea sequi in ipsam aut eveniet!
        li(id="pickup").tabs__content-item.card-more-tabs__content-item.tabs__content-item_active
          include pickup
        li(id="delivery").tabs__content-item.card-more-tabs__content-item
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt nulla adipisci fuga totam praesentium exercitationem perspiciatis alias hic rerum debitis, nobis, accusantium modi voluptatibus. Ea sequi in ipsam aut eveniet!
        li(id="service").tabs__content-item.card-more-tabs__content-item
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt nulla adipisci fuga totam praesentium exercitationem perspiciatis alias hic rerum debitis, nobis, accusantium modi voluptatibus. Ea sequi in ipsam aut eveniet!
        li(id="garanty").tabs__content-item.card-more-tabs__content-item
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt nulla adipisci fuga totam praesentium exercitationem perspiciatis alias hic rerum debitis, nobis, accusantium modi voluptatibus. Ea sequi in ipsam aut eveniet!