.social {
  display: flex;
  justify-content: center;
}

.social__item {
  width: 30px;
  margin-right: 30px;
  margin-bottom: 15px;

  &:last-child {
    margin-right: 0;
  }
}

.social__icon {
  width: 30px;
  transition: $speed;
  
  &:hover {
    fill: $blue;
  }
}