.basic-link {
  display: inline-block;
  color: $blue;
  font-size: 16px;
  border-bottom: 1px solid $blue;
  margin-top: 21px;
  white-space: nowrap;
  padding: 0;
  
  &:hover {
    opacity: 0.8;
  }

  &_size {
    font-size: 14px;
  }

  &_decoration {
    border: none;
  }
}