.button-favorite {
  padding: 6px;
  outline: none;
  
  &:hover {
    animation: tada;
    animation-duration: 1s;
  }
}

.button-favorite__icon {
  width: 24px;
  height: 22px;
  background-image: svg-load('../../images/icons/heart.svg');
  background-repeat: no-repeat;
  background-size: contain;
  transition: $speed;

  &_active {
    background-image: svg-load('../../images/icons/heart-filled.svg', fill=$blue);
  }
}