.button-cart {
  background-color: $blue !important;
  border-radius: 10px 0px 0px 0px;
  padding: 10px 15px 6px;
  line-height: 1;
  outline: none;
}

.button-cart__icon {
  width: 30px;
  height: 23px;
  fill: $secondary;
}