.menu {
  @include w920 {
    display: none;
  }
}

.menu__list {
  display: flex;
}

.menu__item {
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }

  @include w1100 {
    margin-right: 20px;
  }
}

.menu__link {
  transition: $speed;
  
  &:hover {
    color: $blue;
  }
}