.user-list {
  display: flex;
  margin-right: 23px;

  @include phones {
    margin-right: 10px;
  }
}

.user-list__item {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.user-list__link {
  display: block;
  width: 24px;
  height: 24px;

  &_heart {
    height: 22px;
  }

  &_person {
    height: 22px;
  }

  &_cart {
    width: 30px;
    height: 23px;
    position: relative;
  }
}

.user-list__icon {
  transition: $speed;

  &:hover {
    opacity: 0.7;
  }
}