header.header
  .header__top
    .container 
      .header__top-inner
        .header__humburger-button
          button(type='button').humburger-button
            .humburger-button__row
            .humburger-button__row
            .humburger-button__row
        nav.menu
          ul.menu__list
            li.menu__item
              a(href="#").menu__link Магазины
            li.menu__item
              a(href="#").menu__link Акции
            li.menu__item
              a(href="#").menu__link Доставка и оплата
        .header__logo
          a(href="#").logo
            +icon('logo', 'logo__icon')
        .header__top-item
          .header__address
            address.address Москва,  ул. Науки  25
          ul.user-list
            li.user-list__item
              a(href="#").user-list__link.user-list__link_heart
                +icon('heart', 'user-list__icon')
            li.user-list__item
              a(href="#").user-list__link.user-list__link_person
                +icon('person', 'user-list__icon')
            li.user-list__item
              a(href="#").user-list__link.user-list__link_cart
                +icon('cart', 'user-list__icon')
                .cart__num 1
  
  .header__bottom
    .container
      ul.menu-categories
        li.menu-categories__item
          a(href="#" title="Квадроциклы").menu-categories__link Квадроциклы
        li.menu-categories__item
          a(href="#" title="Катера").menu-categories__link Катера
        li.menu-categories__item
          a(href="#" title="Гидроциклы").menu-categories__link Гидроциклы
        li.menu-categories__item
          a(href="#" title="Лодки").menu-categories__link Лодки
        li.menu-categories__item
          a(href="#" title="Снегоходы").menu-categories__link Снегоходы
        li.menu-categories__item
          a(href="#" title="Двигатели").menu-categories__link Двигатели
        li.menu-categories__item
          a(href="#" title="Запчасти").menu-categories__link Запчасти
  ul.menu-mob
    li.menu-mob__item
      a(href="#").menu-mob__link
        .menu-mob__link-icon
          +icon('person', 'menu-mob__icon')
        .menu-mob__link-text Войти
    li.menu-mob__item
      a(href="#").menu-mob__link
        .menu-mob__link-icon
          +icon('person', 'menu-mob__icon')
        .menu-mob__link-text Регистрация
    li.menu-mob__item
      a(href="#").menu-mob__link
        .menu-mob__link-icon
          +icon('heart', 'menu-mob__icon')
        .menu-mob__link-text Избранное
    li.menu-mob__item
      a(href="#").menu-mob__link
        .menu-mob__link-icon
          +icon('cart', 'menu-mob__icon')
        .menu-mob__link-text Корзина
    li.menu-mob__item
      a(href="#").menu-mob__link
        .menu-mob__link-icon
          +icon('store', 'menu-mob__icon')
        .menu-mob__link-text Магазины
    li.menu-mob__item
      a(href="#").menu-mob__link
        .menu-mob__link-icon
          +icon('sale', 'menu-mob__icon')
        .menu-mob__link-text Акции
    li.menu-mob__item
      a(href="#").menu-mob__link
        .menu-mob__link-icon
          +icon('delivery', 'menu-mob__icon')
        .menu-mob__link-text Доставка и оплата
    li.menu-mob__item
      a(href="#").menu-mob__link
        .menu-mob__link-text Квадроциклы
    li.menu-mob__item
      a(href="#").menu-mob__link
        .menu-mob__link-text Катера
    li.menu-mob__item
      a(href="#").menu-mob__link
        .menu-mob__link-text Гидроциклы
    li.menu-mob__item
      a(href="#").menu-mob__link
        .menu-mob__link-text Лодки
    li.menu-mob__item
      a(href="#").menu-mob__link
        .menu-mob__link-text Вездеходы
    li.menu-mob__item
      a(href="#").menu-mob__link
        .menu-mob__link-text Снегоходы
    li.menu-mob__item
      a(href="#").menu-mob__link
        .menu-mob__link-text Двигатели
    li.menu-mob__item
      a(href="#").menu-mob__link
        .menu-mob__link-text Запчасти