header.header
  .header__top
    .container 
      .header__top-inner
        nav.menu
          ul.menu__list
            li.menu__item
              a(href="#").menu__link Магазины
            li.menu__item
              a(href="#").menu__link Акции
            li.menu__item
              a(href="#").menu__link Доставка и оплата
        a(href="#").logo

  .header__bottom
    .container