.cart__num {
  color: $secondary;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  padding: 4px 4px;
  background-color: $blue;
  border-radius: 50%;
  position: absolute;
  bottom: -6px;
  right: -15px;
  min-width: 20px;
  min-height: 20px;
  text-align: center;
}