.card-search-input__wrap {
  position: relative;
  display: inline-block;
  height: 33px;
  flex: 1;
  width: 313px;
}

.card-search-input {
  background: $gray;
  border-radius: 3px;
  padding: 9px 35px 9px 17px;
  outline: none;
  border: none;
  height: 100%;
  width: 100%;
}

.card-search-input__icon {
  width: 16px;
  height: 16px;
  position: absolute;
  z-index: 5;
  fill: $light-gray;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}