include templates/mixins

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Drive Moto
    link(rel="icon" type="image/png" href=require("../src/favicon.png"))
  body
    .wrapper
      include templates/blocks/header
      include templates/blocks/banner-section
      include templates/blocks/search
      include templates/blocks/categories-section
