.search-tabs {
  .tabs__tablist-item_active {
    background: $gray;
    border-radius: 5px;
  }

  .tabs__content-item_active {
    display: block;
  }
}

.search-tabs__tabs-item {
  transition: $speed;
}

.search-tabs__tabs {
  display: flex;
  margin-bottom: 25px;
}

.search-tabs__tabs-link {
  display: block;
  font-size: 20px;
  line-height: 24px;
  padding: 11px 26px;
}

.search-tabs__content-item {
  display: none;
}
